html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Variables */
h1, h2, h3, h4, h5 {
  font-family: "Century Gothic", AvenirNext-Bold, Futura-Medium, "Trebuchet MS", sans-serif;
  font-weight: 700; }

body {
  font-family: Georgia, serif;
  font-weight: 400; }
