<article>
    <h2>Services</h2>
    <dl>
        <dt>Layups</dt>
        <dd>Layup info</dd>
        <dt>Post Surgical Care</dt>
        <dd>Post Surgical Care info</dd>
        <dt>Boarding</dt>
        <dd>Boarding info</dd>
    </dl>
</article>